.abouthead {
    display: flex;
    gap: 0.5rem;
    padding: 20px;
    align-items: center;
}
.ab {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}
.aba {
    height: 15.84px;
    opacity: 1;
    border-width: 3px;
}
.aba a {
    font-size: 24px;
    color: #C50000;
    text-decoration: none;
}
.aboutdetails {
    width: 100%;
    opacity: 1;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #00000040;
}
.welcome h2 {
    color: #6E0202;
}
.welcomedetails1, .welcomedetails, .welcomedetails2 {
    margin: 15px 0;
}